/* ===================================
    About
====================================== */

/*
    Theme Name: MegaOne
    Theme URI:
    Author: Themes Industry
    Author URI:
    Description: One Page Parallax Template
    Tags: one page, multipurpose, parallax, creative, html5

 */

/* ===================================
    Table of Content
====================================== */


/*  - Fonts
    - General
    - Fonts
    - Social Icon Hover
    - Header And Navigation
    - Slider
    - About
    - Team
    - Portfolio
    - Price
    - Parallax
    - Testimonial
    - Client
    - Blog
    - Contact
    - Map
    - Footer
    - Loader
    - Media Queries   */


/* ===================================
    Google font
====================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');


.main-font{font-family: 'Roboto', sans-serif;}
.alt-font{font-family: 'Oswald', sans-serif;}


/* ===================================
    General
====================================== */

body {font-family: 'Roboto', sans-serif; font-size: 16px;color: #2b2b2b;font-weight:300;line-height:25px;width: 100%; overflow-x: hidden}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {line-height: 1.2; font-weight: 400; font-family: 'Oswald', sans-serif;text-transform:uppercase!important;}
.h1, h1 {
    font-size: 3rem;
}
a, *::before, *::after, img, span, input, button, .navbar, .fixedmenu, .tp-bullet, .owl-dot, .owl-prev, .owl-next {transition: ease-in-out 0.2s;-webkit-transition: ease-in-out 0.2s;-moz-transition: ease-in-out 0.2s;-ms-transition: ease-in-out 0.2s;-o-transition: ease-in-out 0.2s;}
section,.section-padding {position: relative;overflow: hidden;}
.section-top-margin{margin-top: 7.5rem;}
a {color:inherit;text-decoration: none;}
.rev_slider_wrapper{width: 100% !important;}
.btn.focus, .btn:focus{-webkit-box-shadow: none;box-shadow: none;}
p:last-child{margin-bottom: 0 !important;}
.fa, .far, .fas{display: inline;}
a:active, a:hover{color: #02aeb3;}
blockquote {border-left: 2px solid;padding: 10px 15px 10px 35px;margin: 25px 0;font-size: 18px;line-height: 28px;margin-top: 32px;margin-bottom: 32px;}
blockquote > cite {font-weight: 400;font-size: 14px;display: block;}
.hidden{display: none;}
section{padding: 7.5rem 0;}

/* transition none */
.no-transition *{transition-timing-function:initial; -moz-transition-timing-function:initial; -webkit-transition-timing-function:initial; -o-transition-timing-function:initial; -ms-transition-timing-function:initial; transition-duration: 0s; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; -ms-transition-duration: 0s;}

/* overlay */
.bg-overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

/* opacity */
.opacity-full{opacity: 1;}
.opacity-1{opacity: .1;}
.opacity-2{opacity: .2;}
.opacity-3{opacity: .3;}
.opacity-4{opacity: .4;}
.opacity-5{opacity: .5;}
.opacity-6{opacity: .6;}
.opacity-7{opacity: .7;}
.opacity-8{opacity: .8;}
.opacity-9{opacity: .9;}

/*font-weight*/
.font-weight-100{font-weight: 100;}
.font-weight-300{font-weight: 300;}
.font-weight-500{font-weight: 500;}
.font-weight-600{font-weight: 600;}

/* button */
.btn {-webkit-appearance: initial; overflow: hidden;position: -webkit-sticky;position: sticky; z-index: 2; display:inline-block; font-size: 17px; border:2px solid transparent; letter-spacing: .5px; line-height: inherit; border-radius: 0; text-transform:capitalize; width: auto;font-family: 'Poppins', sans-serif; font-weight: 500; -webkit-transition: all .5s ease;-o-transition: all .5s ease !important;transition: all .5s ease !important;}
/* button size */
.btn.btn-small {font-size:12px; padding: 4px 1.8em;}
.btn.btn-medium {font-size:12px; padding: 6px 1.8em;}
.btn.btn-large {font-size:14px; padding: 11px 41px; line-height: 1.8em;}
.btn.btn-rounded {border-radius: 50px;}

/* button background */
.btn.btn-white {background:#ffffff; border-color: #ffffff; color: #585858}
.btn.btn-white:hover, .btn.btn-white:focus {background: transparent !important; border-color: #ffffff; color:  #ffffff !important}
.btn.btn-transparent-white {background:transparent; border-color: #ffffff; color:  #ffffff}
.btn.btn-transparent-white:hover, .btn.btn-transparent-white:focus {background: #ffffff !important; color: #585858 !important}
.btn.btn-transparent-black {background:transparent; border-color: #2b2b2b; color: #2b2b2b}
.btn.btn-transparent-black:hover, .btn.btn-transparent-black:focus {background: #2b2b2b !important; color: #ffffff !important}
.btn.btn-black-white-background {background:#202020; border-color: #202020; color: #ffffff}
.btn.btn-black-white-background:hover, .btn.btn-transparent-black:focus {background: #ffffff !important; color: #202020 !important;border-color: transparent !important;}
.btn.btn-transparent-purple {background:transparent; border-color: #02aeb3; color: #02aeb3}
.btn.btn-transparent-purple:hover, .btn.btn-transparent-purple:focus {background: #02aeb3 !important; color: #ffffff !important}
.btn.btn-black {background: #2b2b2b; border-color: #2b2b2b; color: #ffffff}
.btn.btn-black:hover, .btn.btn-black:focus {background: transparent !important; border-color: #2b2b2b; color: #2b2b2b !important}
.btn.btn-purple {background: #02aeb3; border-color: #02aeb3; color: #ffffff}
.btn.btn-purple:hover, .btn.btn-purple:focus {background: transparent !important; border-color: #02aeb3; color: #02aeb3 !important}
.btn.btn-hvr-white:hover, .btn.btn-hvr-white:focus {background: #ffffff !important; border-color: #ffffff; color: #585858 !important}


.white-tran-black-btn{font-size: 12px;font-family: 'Roboto', sans-serif;padding: 10px 30px;color:#ffffff !important;font-weight: 600;background-color:transparent;border:1px solid #ffffff !important;border-radius: 0px;-webkit-transition: .8s ease !important;-o-transition: .8s ease !important;transition: .8s ease !important; cursor: pointer}
.white-tran-black-btn:hover{color: #202020 !important; ;background-color:#ffffff !important; border: 1px solid transparent !important;}

.white-blue-btn{font-size: 12px;font-family: 'Roboto', sans-serif;padding: 10px 25px;color:#2b2b2b;font-weight: 600;background-color:#ffffff;border:1px solid transparent;border-radius: 0px;-webkit-transition: .8s ease !important;-o-transition: .8s ease !important;transition: .8s ease !important; cursor: pointer}
.white-blue-btn:hover{color: #ffffff; ;background-color:#02aeb3 !important; border: 1px solid transparent;}

.white-tran-yellow-btn{font-size: 12px;font-family: 'Roboto', sans-serif;padding: 10px 30px;color:#ffffff !important;font-weight: 600;background-color:transparent;border:1px solid #ffffff !important;border-radius: 0px;-webkit-transition: .8s ease !important;-o-transition: .8s ease !important;transition: .8s ease !important; cursor: pointer}
.white-tran-yellow-btn:hover{color: #202020 !important; ;background-color:#e8d716 !important; border: 1px solid transparent !important;}

.blue-and-black-btn{font-size: 12px;font-family: 'Roboto', sans-serif;padding: 7px 35px;;color:#ffffff;;font-weight: 600;background-color:#5bbdbb;border:1px solid transparent;border-radius: 0px;-webkit-transition: .8s ease !important;-o-transition: .8s ease !important;transition: .8s ease !important; cursor: pointer}
.blue-and-black-btn:hover{color: #ffffff !important; ;background-color:#202020 !important; border: 1px solid transparent;}

.yellow-and-black-btn{font-size: 12px;font-family: 'Roboto', sans-serif;padding: 7px 35px;;color:#ffffff;;font-weight: 600;background-color:#e8d716;border:1px solid transparent;border-radius: 0px;-webkit-transition: .8s ease !important;-o-transition: .8s ease !important;transition: .8s ease !important; cursor: pointer}
.yellow-and-black-btn:hover{color: #ffffff !important; ;background-color:#202020 !important; border: 1px solid transparent;}


/* background color */
.bg-main{background: #02aeb3;}
.bg-black{background: #202020;}
.bg-black-light{background: #2b2b2b;}
.bg-dark {background-color: #1d1d21 !important;}
.bg-blue {background-color: #02aeb3;}
.bg-pink {background-color: #f033b5;}
.bg-purple {background-color: #9556f5;}

/* text-color */
.main-color{color: #02aeb3;}

/*Max Width*/
.mx-570{
    max-width: 570px;
    display: inline-block;
}

/* ===================================
   Social Icon Bg
====================================== */

.social-icon-bg a i.fa-facebook-f {background-color: #3B5998;}
.social-icon-bg a i.fa-twitter {background-color: #02aeb3;}
.social-icon-bg a i.fa-google-plus {background-color: #DD4B39;}
.social-icon-bg a i.fa-linkedin-in {background-color: #0976B4;}
.social-icon-bg a i.fa-instagram {background-color: #c13584;}
.social-icon-bg a i.fa-youtube {background-color: #dd4b39;}
.social-icon-bg a i.fa-pinterest-p {background-color: #B7242A;}
.social-icon-bg a i.fa-instagram {background-color: #e8715c;}
.social-icon-bg a i.fa-vimeo {background-color: #1ab7ea;}
.social-icon-bg a i.fa-vk {background-color: #4c75a3;}
.social-icon-bg a i.fa-youtube {background-color: #cd201f;}
.social-icon-bg a i.fa-pinterest {background-color: #bd081c;}
.social-icon-bg a i.fa-tumblr {background-color: #34465d;}
.social-icon-bg a i.fa-behance {background-color: #131418;}
.social-icon-bg a i.fa-dribbble {background-color: #ea4c89;}
.social-icon-bg a i.fa-google-plus {background-color: #dd4b39;}
.social-icon-bg a i.fa-xing {background-color: #026466;}
.social-icon-bg a i.fa-yelp {background-color: #af0606;}
.social-icon-bg a i.fa-vine {background-color: #00b489;}

/* ===================================
   Social Icon Bg Hover
====================================== */

.social-icon-bg-hvr a:hover i.fa-facebook-f {background-color: #3B5998;}
.social-icon-bg-hvr a:hover i.fa-twitter {background-color: #02aeb3;}
.social-icon-bg-hvr a:hover i.fa-google-plus {background-color: #DD4B39;}
.social-icon-bg-hvr a:hover i.fa-linkedin-in {background-color: #0976B4;}
.social-icon-bg-hvr a:hover i.fa-instagram {background-color: #c13584;}
.social-icon-bg-hvr a:hover i.fa-youtube {background-color: #dd4b39;}
.social-icon-bg-hvr a:hover i.fa-pinterest-p {background-color: #B7242A;}
.social-icon-bg-hvr a:hover i.fa-instagram {background-color: #e8715c;}
.social-icon-bg-hvr a:hover i.fa-vimeo {background-color: #1ab7ea;}
.social-icon-bg-hvr a:hover i.fa-vk {background-color: #4c75a3;}
.social-icon-bg-hvr a:hover i.fa-youtube {background-color: #cd201f;}
.social-icon-bg-hvr a:hover i.fa-pinterest {background-color: #bd081c;}
.social-icon-bg-hvr a:hover i.fa-tumblr {background-color: #34465d;}
.social-icon-bg-hvr a:hover i.fa-behance {background-color: #131418;}
.social-icon-bg-hvr a:hover i.fa-dribbble {background-color: #ea4c89;}
.social-icon-bg-hvr a:hover i.fa-google-plus {background-color: #dd4b39;}
.social-icon-bg-hvr a:hover i.fa-xing {background-color: #026466;}
.social-icon-bg-hvr a:hover i.fa-yelp {background-color: #af0606;}
.social-icon-bg-hvr a:hover i.fa-vine {background-color: #00b489;}

/* ===================================
   Social Icon Color
====================================== */

.social-icon-clr a i.fa-facebook-f {color: #3B5998;}
.social-icon-clr a i.fa-twitter {color: #0976B4;}
.social-icon-clr a i.fa-google-plus {color: #DD4B39;}
.social-icon-clr a i.fa-linkedin-in {color: #0976B4;}
.social-icon-clr a i.fa-instagram {color: #c13584;}
.social-icon-clr a i.fa-youtube {color: #dd4b39;}
.social-icon-clr a i.fa-pinterest-p {color: #B7242A;}
.social-icon-clr a i.fa-instagram {color: #e8715c;}
.social-icon-clr a i.fa-vimeo {color: #1ab7ea;}
.social-icon-clr a i.fa-vk {color: #4c75a3;}
.social-icon-clr a i.fa-youtube {color: #cd201f;}
.social-icon-clr a i.fa-pinterest {color: #bd081c;}
.social-icon-clr a i.fa-tumblr {color: #34465d;}
.social-icon-clr a i.fa-behance {color: #131418;}
.social-icon-clr a i.fa-dribbble {color: #ea4c89;}
.social-icon-clr a i.fa-google-plus {color: #dd4b39;}
.social-icon-clr a i.fa-xing {color: #026466;}
.social-icon-clr a i.fa-yelp {color: #af0606;}
.social-icon-clr a i.fa-vine {color: #00b489;}

/* ===================================
   Social Icon Hover
====================================== */

.social-icon-clr-hvr a i:hover.fa-facebook-f {color: #3B5998;}
.social-icon-clr-hvr a i:hover.fa-twitter {color: #0976B4;}
.social-icon-clr-hvr a i:hover.fa-google-plus {color: #DD4B39;}
.social-icon-clr-hvr a i:hover.fa-linkedin-in {color: #0976B4;}
.social-icon-clr-hvr a i:hover.fa-instagram {color: #c13584;}
.social-icon-clr-hvr a i:hover.fa-youtube {color: #dd4b39;}
.social-icon-clr-hvr a i:hover.fa-pinterest-p {color: #B7242A;}
.social-icon-clr-hvr a i:hover.fa-instagram {color: #e8715c;}
.social-icon-clr-hvr a i:hover.fa-vimeo {color: #1ab7ea;}
.social-icon-clr-hvr a i:hover.fa-vk {color: #4c75a3;}
.social-icon-clr-hvr a i:hover.fa-youtube {color: #cd201f;}
.social-icon-clr-hvr a i:hover.fa-pinterest {color: #bd081c;}
.social-icon-clr-hvr a i:hover.fa-tumblr {color: #34465d;}
.social-icon-clr-hvr a i:hover.fa-behance {color: #131418;}
.social-icon-clr-hvr a i:hover.fa-dribbble {color: #ea4c89;}
.social-icon-clr-hvr a i:hover.fa-google-plus {color: #dd4b39;}
.social-icon-clr-hvr a i:hover.fa-xing {color: #026466;}
.social-icon-clr-hvr a i:hover.fa-yelp {color: #af0606;}
.social-icon-clr-hvr a i:hover.fa-vine {color: #00b489;}

/* ===================================
        Header
======================================*/

/*upper-nav*/

/*html{*/
/*    scroll-behavior: smooth;*/
/*}*/

.center-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 11111;
}

.upper-nav{
    padding: 25px 0;
}

.upper-nav .contact-info{
    display: flex;
    align-content: center;
}

.contact-info span{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.contact-social-icons .upper-social-icons{
    margin-bottom: 0;
}

.contact-social-icons .upper-social-icons li:first-child{
    margin-left: 0;
}

.contact-social-icons .upper-social-icons li{
    display: inline-block;
    list-style: none;
    margin-left: 5px;
}

.contact-social-icons .upper-social-icons li a{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    color: #ffffff;
}

.contact-social-icons .upper-social-icons li a i{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contact-social-icons .upper-social-icons li a:hover{
    background-color: #ffffff;
}

.contact-social-icons .upper-social-icons li .facebook-text-hvr:hover {
    color: #4267B2 !important;
}

.contact-social-icons .upper-social-icons li .twitter-text-hvr:hover {
    color: #0976B4 !important;
}

.contact-social-icons .upper-social-icons li .line-text-hvr:hover {
    color: #32CD32 !important;
}

.contact-social-icons .upper-social-icons li .instagrams-text-hvr:hover {
    color: #c13584 !important;
}
.contact-social-icons .upper-social-icons li .youtube-text-hvr:hover {
    color: #FF0000 !important;
}

/*.contact-social-icons a i:hover.fa-facebook-f {color: #3B5998;}*/
/*.contact-social-icons a i:hover.fa-twitter {color: #0976B4;}*/
/*.contact-social-icons a i:hover.fa-linkedin-in {color: #0976B4;}*/
/*.contact-social-icons a i:hover.lni-instagram-filled {color: #e8715c;}*/

.navbar{
    padding: 0;
    background: #ffffff;
}

.navbar .navbar-brand{
    padding: 15px 20px;
}

.navbar .navbar-brand img{
    max-width: 70px;
}

.navbar-nav{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.navbar-nav .nav-item{
    margin-left: 15px;
}

.navbar-nav .nav-item:first-child{
    margin-left: 0;
}
.navbar-nav .nav-item:last-child{
    margin-right:15px;
}

.navbar-nav .nav-item .nav-link{
    color: #202020;
}

/* ===================================
    Side Menu
====================================== */
#site-mmenu-svg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotateY(-180deg);
    z-index: 1;
    height: 200px;
}

.side-menu {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    bottom:0;
    background: #202020;
    z-index: 1114 !important;
    height: 100%;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: -o-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    overflow: hidden;
    /*opacity:0;*/
}
.side-menu-opacity{
    opacity:0;
}
.side-menu.left {
    left: 0; right: auto;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.side-menu.before-side {
    width: 280px;
}

.side-menu.side-menu-active{
    opacity:1;
}
.side-menu.side-menu-active,
.side-menu.before-side{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pul-menu .side-menu.side-menu-active {
    visibility: visible;
    opacity: 1;
}
.side-menu .navbar-brand {
    margin: 0 0 2.5rem 0;
}

/*Side overlay*/
#close_side_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    display: none;
    z-index: 1031;
    opacity: 0.4;
}
.side-menu .navbar-brand{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 50px;
}
.side-menu .navbar-brand img{
    width: auto;
    margin: auto;
    display: block;
    height: 103px;
}
/*side clode btn*/
.side-menu .btn-close {
    height: 33px;
    width: 33px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 100px;
    right: 100px;
    cursor: pointer;
}
.side-menu.before-side .btn-close{
    display: none;
}
.side-menu .btn-close::before, .side-menu .btn-close::after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 24px;
    width: 2px;
    background: #FFFFFF;
    top: 5px;
}
.side-menu .btn-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.side-menu .btn-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*side open btn*/

.sidemenu_btn {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 36px;
    padding: 6px;
    margin-right: 1rem;
    position: absolute;
    right: 15px;
    top: 108px;
    display: inline-block;
}

.sidemenu_btn i{
    font-size: 30px;
    color: #ffffff;
}

.side-menu .inner-wrapper {
    padding: 5.5rem 5rem;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    /*align-items: center;*/
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.pul-menu.pushwrap .side-menu .inner-wrapper{
    padding: 3.5rem 2.5rem;
}
.side-menu .side-nav {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.side-nav .navbar-nav{
    display: block;
}
.side-nav .navbar-nav .nav-item{
    display: inline-block;
    margin: 10px 20px; padding: 0 !important;
    opacity: 0;
    -webkit-transition: all 0.8s ease 500ms;
    -o-transition: all 0.8s ease 500ms;
    transition: all 0.8s ease 500ms;

    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
}
.side-nav .navbar-nav .nav-item:first-child {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
.side-nav .navbar-nav .nav-item:nth-child(2){
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
.side-nav .navbar-nav .nav-item:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}
.side-nav .navbar-nav .nav-item:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}
.side-nav .navbar-nav .nav-item:nth-child(5) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
.side-nav .navbar-nav .nav-item:nth-child(6) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
}
.side-nav .navbar-nav .nav-item:nth-child(7) {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
}
.side-nav .navbar-nav .nav-item:nth-child(8) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}
.side-nav .navbar-nav .nav-item:nth-child(9) {
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
}
.side-menu.side-menu-active .side-nav .navbar-nav .nav-item {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.side-nav .navbar-nav .nav-link {
    display: inline-table;
    color: #FFFFFF;
    padding: 2px 0 3px 0 !important;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    position: relative;
    text-transform: uppercase;
    border-radius: 0;
}
.side-nav .navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    background: #2b2b2b;
    display: inline-block;
    width: 0;
    height: 3px;
    bottom: 0; left: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.side-nav .navbar-nav .nav-link:hover::after,
.side-nav .navbar-nav .nav-link:focus::after,
.side-nav .navbar-nav .nav-link.active::after {
    width: 100%;
}
.side-nav .navbar-nav .nav-link.active {
    background: transparent;
}
.side-menu p{
    margin-top: .5rem;
    margin-bottom: 0;
}

.social-icons-simple{
    margin-bottom: 0;
    margin-left: -10px;
}

.social-icons-simple li{
    display: inline-block;
    margin-right: 10px;
}
.social-icons-simple li:last-child{
    margin-right: 0;
}

.side-footer p{
    color: #FFFFFF;
}


.social-icons-simple li a {
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    height: 36px;
    line-height: 38px;
    border: 1px solid transparent;
    text-align: center;
    width: 36px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
}
.social-icons-simple li a:hover{
    background-color:#02aeb3;
}

.social-icons-simple li.animated-wrap a:hover{
    background-color: transparent;
    color: #ffffff;
}
@-webkit-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* ===================================
    Side Menu
====================================== */
/* @media screen and (min-width:1024px){
    .banner{
        background-image: url("../img/banner.jpg");
    }

}
@media screen and (max-width:1023px){
    .banner{
        background-image: url("../img/banner1.jpg");
    }

} */
.banner{
    background-image: url("../img/banner-com.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 111;
}
.page-title-product{
    position:relative;
    text-align:center;
    background:url("../img/product/cover.jpg");
    background-size: cover;
    background-position: top center;
    height: 100vh;
}
.page-title{
    background:url("../img/about/cover.jpg");
    position:relative;
    text-align:center;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    background-repeat: no-repeat;
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px)and (orientation : portrait) {
    .page-title-product{
        position:relative;
        text-align:center;
        background:url("../img/product/cover-ipad-pro.jpg");
        background-size: cover;
        background-position: top center;
        height: 100vh;
    }
}
@media only screen and (min-device-width: 451px) and (max-width: 768px) {
    .banner{
        background-image: url("../img/banner-ipad-port.jpg");
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 111;
    }
    .page-title-product{
        position:relative;
        text-align:center;
        background:url("../img/product/cover-ipad-port.jpg");
        background-size: cover;
        background-position: top center;
        height: 100vh;
    }

}

@media (max-width: 450px) {
    .banner{
        background-image: url("../img/banner-mobile.jpg");
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 111;
    }
    .page-title-product{
        position:relative;
        text-align:center;
        background:url("../img/product/cover-mobile.jpg");
        background-size: cover;
        background-position: top center;
        height: 100vh;
    }
}
@supports not (-webkit-touch-callout: none) {
/* CSS for other than iOS devices */ 
    .banner{
        background-attachment: fixed;
    }
    .page-title-product{
        background-attachment: fixed;
    }
    .page-title{
        background-attachment: fixed;
    }
    
}

.banner .banner-row{
    height: 100vh;
    padding-top: 120px;
}

.banner-text-left h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size:60px;
    margin-top: -55px;
}

.banner-text-left p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    margin-left: 7px;
    font-size: 18px;
    color: #202020;
}

.overlay-blue-box{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:#213b52;
}
.overlay-yellow-box{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:#dbd527;
}

.banner-text-right{
    padding:50px 20px;
    padding-bottom: 70px;
    position: relative;
    margin-right: 20px;
}

.banner-right-area-content{
    position: relative;
    z-index: 11;
    color: #ffffff;
}
.banner-right-area-content h2{
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
    text-transform:initial !important;
}

.banner-right-area-content h2 .main-bold-text{
    display: block;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.banner-right-area-content p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}


#banner_svg{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    transform: rotateY(-180deg);
    z-index: 1;
    height: 200px;
}


/* ===================================
   Services
====================================== */
.about-sec{
    background-color:#e8d716;
    position: relative;
    overflow: visible;
    /* margin-top: 120px; */
    padding-top: 120px;
    padding-bottom: 200px;
}

#about-header-svg{
    position:absolute;
    left:0;
    right:0;
    top:-200px;
    transform: rotateY(-180deg);
    z-index: 11;
    height: 200px;
}

.service-details{
    transform: translateY(-132px);
    /*transition: .8s ease all;*/
}

.service-details h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #ffffff;
}
.service-details h1 span{
    color: #202020;
}

.service-details p{
    width: 100%;
    color: #202020;
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
    line-height: 22pt
}
.service-details a{
    margin-top: 60px !important;
}


.about-sec .services-area .services{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.about-sec .services-area .services .service-card{
    margin-bottom: 80px;
}
.about-sec .services-area .services:last-child .service-card,.about-sec .services-area .services:nth-child(3) .service-card{
    margin-bottom: 0;
}

.about-sec .services-area .services:nth-child(3),.about-sec .services-area .services:nth-child(4){
    transform: translateX(150px);
}


@media (min-width: 992px) and (max-width: 1201px) {
    .about-sec .services-area .services:nth-child(3),.about-sec .services-area .services:nth-child(4){
        transform: translateX(48px);
    }
}

.about-sec .services-area .services .service-card .icon-holder{
    margin-bottom: 12px;
    transition: .5s ease;
}
.about-sec .services-area .services .service-card .icon-holder i{
    color: #FFFFFF;
    font-size: 120px;
}
.about-sec .services-area .services:hover .service-card .icon-holder{
    animation: .8s pulse infinite;
    /*transform: translateY(-10px);*/
}

.about-sec .services-area .services .service-card .card-heading{
    color: #32301f;
    font-size: 28px;
    font-family: Oswald, sans-serif;
    transition: .5s ease;
    font-weight: 300;
    text-transform: initial !important;
}

.about-sec img{
    position: absolute;
    z-index: 1111;
    left: 300px;
    transform: rotate(-6deg);
    bottom: -100px;
}

/* ===================================
   Skill Section
====================================== */

.skill-sec .skill-details .sub-title{
    color: #5bbdbb;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: initial!important;
    margin-bottom: 20px;
}

.skill-sec .skill-details .title{
    color: #2b2b2b;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
}

.skill-sec .skill-details .paragraph{
    color: rgba(0, 0, 0, 0.7);
    font-family: Roboto, "sans-serif";
    font-size: 14px;
    font-weight: 400;
}

.skill-sec .skill-bars{
    padding-top: 60px;
}
.skill-sec .skill-bars .progress-item .progress-bar{
    background-color: #dbd527 !important;
    position: relative;

}
.skill-sec .progress-item  .progress-bar span {
    display: block;
    position: absolute;
    top: -32px;
    font-size: 13px;
    line-height: 10px;
    right: -1.4em;
    border-radius: 2px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #202020;
    padding: 7px;
}
.skill-sec .progress-item  .progress-bar i{
    color: black;
    position: absolute;
    bottom: -8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.skill-sec  .skill-bars .progress-item .progress{
    height: 15px !important;
    overflow: visible;
    /*margin-right: 15px;*/
}
.skill-sec  .skill-bars .progress-item {
    padding-right: 15px;
}
.skill-sec  .skill-bars .progress-item:nth-child(even){
    padding-right: 0;
    padding-left: 15px;
}
.skill-sec .skill-bars .progress-item h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #142022;
    margin-bottom: 15px;
    text-transform: initial!important;
}
.skill-sec .skill-bars .progress-item{
    margin-bottom: 20px;
    width: 50%;
    display: inline-block;
    float: left;
}


/* ===================================
   Team SECTION
====================================== */
.team-section{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color:#202020;
}

#team-header-svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: rotateX(180deg);
    height: 200px;
}

#team-foot-svg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotateY(180deg);
    height: 200px;
}

.team-section .team-details .sub-title{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: initial!important;
    margin-bottom: 20px;
}

.team-section .team-details .title{
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
}

.team-section .team-member-area{
    margin-top: 20px;
}

.team-section .image-holder{
    cursor: pointer;
}

.team-section .image-holder:hover ~.team-name{
    color:#e8d716;
}

.team-section .image-holder img{
    height: 250px;
    width: 250px;
    background-color: #e8d716;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.team-section .team-name{
    margin-top: 20px;
    color: #ffffff;
    transition: .5s ease all;
}


.testimonial-team .owl-item .item{
    transition: .5s ease;
}
.testimonial-team .owl-item.center .item{
    margin-top: 60px;
}

.testimonial-team .owl-item.center ~ .owl-item .item{
    margin-top: 120px;
}
.team-section .circle{
    position: absolute;
    z-index: 1111;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#team-circle-left{
    top: 40%;
    left: -4%;
    transform: translateY(42%);
    opacity: 0;
    transition: .5s ease;
}

#team-circle-right{
    top: 70%;
    right: -4%;
    transform: translateY(-50%);
    opacity: 0;
    transition: .5s ease;
}

#team-circle-right i{
    font-size: 16px;
    z-index: 1111;
    color: #ffffff;
}

#team-circle-left i{
    font-size: 16px;
    z-index: 1111;
    color: #ffffff;
}

.team-section:hover #team-circle-right , .team-section:hover #team-circle-left {
    opacity: 1;
}

/***********************************/
/*  PORTFOLIO CSS                   /
/***********************************/
.portfolio-sec{
    margin-bottom: 30px;
    /*transition: .8s ease;*/
}
.portfolio-sec .container {
    max-width: 1140px;
}
.portfolio-sec .heading{
    color: #202020;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: bold;
}
.portfolio-sec .cbp-wrapper-outer {
    overflow: visible;
}
.portfolio-sec .cbp-l-loadMore-button .cbp-l-loadMore-link,
.portfolio-sec .cbp-l-loadMore-button .cbp-l-loadMore-button-link {
    padding: 12px 32px;
}
.portfolio-sec .cbp-l-loadMore-button .cbp-l-loadMore-link,
.portfolio-sec .cbp-l-loadMore-button .cbp-l-loadMore-button-link,
.portfolio-sec .cbp-l-loadMore-button .cbp-l-loadMore-link:hover,
.portfolio-sec .cbp-l-loadMore-button .cbp-l-loadMore-button-link:hover,
.portfolio-sec .cbp-l-loadMore-button .cbp-l-loadMore-link:focus,
.portfolio-sec .cbp-l-loadMore-button .cbp-l-loadMore-button-link:focus{
    color: #fff;
}

.portfolio-sec .cbp-l-filters-button .cbp-filter-item {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: #202020;
    font-family: 'Roboto', sans-serif;
    margin-right: 15px;
    border-bottom: solid 2px transparent ;
}

.portfolio-sec .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
    color: #e8d716;
    background: transparent;
    border-bottom: solid 3px #e8d716;

}
.portfolio-sec .cbp-l-filters-button .cbp-filter-item,
.portfolio-sec .cbp-item.even{
    -webkit-transition: 300ms all ease;
    -o-transition: 300ms all ease;
    transition: 300ms all ease;
}
.portfolio-sec .cbp-item.even {
    margin-top: -190px;
}
.portfolio-sec .cbp-l-grid-mosaic .cbp-caption-activeWrap {
    background: rgba(232, 215, 22, 0.8);
}

.portfolio-sec .cbp-l-filters-button .cbp-filter-item:hover {
    color: #202020;
    border-color:#e8d716;
}

.portfolio-sec .cbp-l-caption-title {
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    font-size: 15px !important;
}
.portfolio-sec .portfolio-detail-text {
    color: #FFFFFF;
    font-style: italic;
}
.portfolio-sec .portfolio-hover-effect .hover-text{
    padding-left: 3%;
    padding-bottom: 2%;
}
.portfolio-sec .portfolio-hover-effect .portfolio-inner-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.portfolio-sec .portfolio-hover-effect .portfolio-inner-content span{
    background-color: #FFFFFF;
    height: 3px;
    width: 70px;
    display: block;
}
.portfolio-sec .portfolio-hover-effect .portfolio-inner-content span:nth-child(2){
    transform: rotate(90deg);
}
.portfolio-sec .portfolio-hover-effect .hover-text .p-hover-title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 0;
}
.portfolio-sec .portfolio-hover-effect .hover-text .p-hover-des{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}
.portfolio-sec #js-loadMore-lightbox-gallery {
    margin-top: 45px;
}
.portfolio-sec #js-loadMore-lightbox-gallery.active {
    margin-top: -150px;
    position: relative;
    /*z-index: -1 !important;*/
}
.portfolio-sec #js-loadMore-lightbox-gallery.active-outer {
    margin-top: -250px;
}
.portfolio-sec .cbp-caption-active .cbp-caption-activeWrap {
    width: 94%;
    position: absolute;
    z-index: 2;
    height: 94%;
}
.portfolio-sec .cbp-caption-active .cbp-caption-activeWrap:hover .text-data{
    z-index: -1 !important;
}

.portfolio-sec .cbp-caption-zoom .cbp-caption-activeWrap {
    opacity: 0;
    top: 3%;
    left: 3%;
}

.portfolio-sec .portfolio-foot-detail{
    padding-bottom: 3%;
}
.portfolio-sec .portfolio-foot-detail .p-text{
    color: #202020;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 8px;
    opacity: 0.7;
}
.portfolio-sec .portfolio-foot-detail .p-text:last-child{
    margin-bottom: 0;
}
.portfolio-sec .portfolio-foot-detail .p-num{
    color: #202020;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* ===================================
   Testimonial
====================================== */

.testimonial-sec{
    padding-top: 150px;
    padding-bottom: 180px;
    background-color:#e8d716;
}

#testimonial-header-svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: rotateX(180deg);
    height: 200px;
}

#testimonial-foot-svg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotateY(180deg);
    height: 100px;
}

.testimonial-sec .testimonial-title .heading{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #202020;
    font-size: 50px;
}

.testimonial-sec .testimonial-title .heading span{
    color: #ffffff;
}

.testimonial-sec .testimonial-area .testimonial-carousel{
    margin-top: 70px;
}

.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .icon-holder{
    display: block;
    margin-bottom: 30px;
}
.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .icon-holder i{
    color: #ffffff;
    font-size: 32px;
    display: inline-block;
    font-style: italic;
}

.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .text{
    color: #ffffff;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}
.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .img-holder{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
}
.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .img-holder img{
    border-radius: 50%;
    width: 100%;
}
.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .user-name{
    color: #202020;
    font-size: 18px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    text-transform: initial !important;
}


.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .owl-item:nth-child(2n) .item{
    margin-top: 60px;
}


/* ===================================
   Partners Slider
====================================== */

.partners-slider .logo-item img {
    max-width: 170px;
    opacity: .5;
    display: inline-block;
}

/* .brand-sec .partners-slider .owl-item:nth-child(2) .logo-item{
    margin-top: 30px;
}

.brand-sec .partners-slider .owl-item:nth-child(3) .logo-item{
    margin-top: 50px;
}

.brand-sec .partners-slider .owl-item:nth-child(4) .logo-item{
    margin-top: 70px;
}

.brand-sec .partners-slider .owl-item:nth-child(5) .logo-item{
    max-width: 170px;
    opacity: .5;
    display: inline-block;
}
.brand-sec .partners-slider .owl-item:nth-child(6) .logo-item{
    margin-top: 30px;
}
.brand-sec .partners-slider .owl-item:nth-child(7) .logo-item{
    margin-top: 50px;
}

.brand-sec .partners-slider .owl-item:nth-child(8) .logo-item{
    margin-top: 70px;
}
.brand-sec .partners-slider .owl-item:nth-child(9) .logo-item{
    max-width: 170px;
    opacity: .5;
    display: inline-block;
}
.brand-sec .partners-slider .owl-item:nth-child(10) .logo-item{
    margin-top: 30px;
}
.brand-sec .partners-slider .owl-item:nth-child(11) .logo-item{
    margin-top: 50px;
}

.brand-sec .partners-slider .owl-item:nth-child(12) .logo-item{
    margin-top: 70px;
} */




/* ===================================
   Partners Slider
====================================== */

.lastest-blog {
    padding-top: 200px;
    padding-bottom: 250px;
    background-color: #202020;
}

#blog-header-svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: rotateX(180deg);
}

#blog-foot-svg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotateY(180deg);
}

.lastest-blog .blog-content h1{
    font-size: 60px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.lastest-blog .blog-content h1 span{
    font-size: 60px;
    color: #e8d716;
}

.lastest-blog .blog-content p{
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 35px;
}

.lastest-blog .blog-img{
    position: relative;
    width: 90%;
    top: 35px;
}
.lastest-blog .blog-img img{
    width: 100%;
}
.lastest-blog .blog-img .slider-img{
    width: 83%;
    position: absolute;
    left: 50.5%;
    top: 38%;
    transform: translate(-50%, -50%);
}


.lastest-blog .circle{
    position: absolute;
    z-index: 1111;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
}

#blog-circle-left{
    position: absolute;
    top: 104px;
    left: -100px;
    color: #ffffff;
    opacity: 0;
    transition: .5s ease all;
}


#blog-circle-right{
    position: absolute;
    right: -40px;
    color: #ffffff;
    bottom: 165px;
    opacity: 0;
    transition: .5s ease all;
}

.lastest-blog:hover #blog-circle-right , .lastest-blog:hover #blog-circle-left{
    opacity: 1;
}


.lastest-blog .pot-2{
    position: absolute;
    z-index: 1111;
    left: 450px;
    bottom: 30px;
}



/* ===================================
      Contact sec css
====================================== */

.contact-sec{
    padding-bottom:0;
}

.contact-sec .heading{
    color: #202020;
    font-size: 40px;
    margin-bottom: 40px;
}
.contact-sec .contact-form{
    width: 95%;
}
.contact-sec .contact-form input{
    color: #8799a3;
    font-size: 16px;
    height: 50px;
    padding: 25px;
}
.contact-sec .contact-form .form-control{
    border-radius: 0;
    border:solid 2px #eceef2;
}
.contact-sec .contact-form input::placeholder{
    color: #8799a3;
    font-size: 16px;
}
.contact-sec .contact-form textarea{
    padding: 13px;
    padding-left: 25px;
    height: 202px;
    color: #8799a3;
    font-size: 16px;
}
.contact-sec .contact-form .purple-btn{
    margin-top: 15px;
}

/*contact details*/
.contact-sec .contact-background{
    position: absolute;
    right: 0;
    top: -35px;
    z-index: -1;
}
.contact-sec .contact-details{
    font-family: Roboto, sans-serif;
    width: 90%;
    margin-left: 20px;
}
.contact-sec .contact-details .heading{
    margin-bottom: 35px;
}
.contact-sec .contact-details .text{
    color: #202020;
    opacity: .8;
}
.contact-sec .contact-details ul{
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 50px;
}
.contact-sec .contact-details ul li{
    color: #202020;
    opacity: .8;
    list-style: none;
    margin-bottom: 22px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.contact-sec .contact-details ul li:first-child{
    width: 100%;
}
.contact-sec .contact-details ul li span{
    display: inline-block;
    padding-right: 30px;
}
.contact-sec .contact-details ul li span:last-child{
    padding-right: 0;
}
.contact-sec .contact-details ul li i{
    font-size: 30px;
    margin-right: 20px;
    margin-bottom: 8px;
    color: #a4dbda;
}
.contact-sec .contact-details ul li i.addr{
    color: #f71c52;
    font-size: 44px;
}
.contact-sec .contact-details ul li i.phone{
    color: #554c86;
}
.contact-sec .contact-details ul li i.email{
    color: #39d47a;
    transform: rotate(-30deg);
}


/* ===================================
   Footer
====================================== */

.footer-style-1{
    padding: 5rem 0;
}

.footer-social ul{
    margin: 0;
    padding: 0;
}

.footer-social li{
    display: inline-block;
}

.footer-social a {
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    font-size: 17px;
    margin: 0 10px 0 0;
    border: 1px solid transparent;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.footer-social li:nth-last-child(1) a{
    margin-right: 0;
}

.footer-social li a:hover{
    background-color:#39c5de;
    color: #ffffff;
}

.company-about{
    font-size: 14px;
}


/* ===================================
   Scroll Top
====================================== */

.scroll-top-arrow, .scroll-top-arrow:focus {
    font-size: 23px;
    line-height: 47px;
    color: #fff;
    background-color: #02aeb3;
    display: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    text-decoration: none;
    z-index: 80;
    border-radius: 50px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.scroll-top-arrow:hover {
    background-color: #02aeb3; }



/* ===================================
    Background images
====================================== */

.bg-img1{
    /*background-image: url("../img/cover-background.jpg");*/
}

.bg-img2{
    /*background-image: url("../img/testimionial.jpg");*/
}

[class*=bg-img]{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}



/**/
/*STAND ALONE PAGE*/


.standalone-row:not(:last-child) {
    margin-bottom: 3rem;
}
.standalone-row .stand-img-des{
    padding-left: 30px;
    text-align: center;
}
.standalone-row:nth-child(2) .stand-img-des{
    padding-left: 0;
    padding-right: 30px;
}
.standalone-detail .sub-heading{
    color: #e8d716;
    margin-bottom: 10px;
}
.standalone-area .sub-heading{
    color: #e8d716;
    margin-bottom: 8px;
    font-family: 'Pridi', serif;
    font-weight:500;
    font-size: 18px;

}
.standalone-detail .heading{
    margin-bottom: 20px;
    font-size: 50px;
    color: #202020;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.about-detail .para_text{
    color: #202020;
    font-family: 'Sarabun', sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    line-height: 2.1;
}

.standalone-detail{
    padding-bottom: 100px;
}
.standalone-area .gradient-text1{
    font-weight: bold;
    margin-bottom: 12px;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}
.standalone-area .stand-img-des .para_text{
    font-family: 'Sarabun', sans-serif;
    color: #202020;
}


/* ===================================
   Fix Nav
====================================== */

.fixed-nav-on-scroll{
    background-color: #202020;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1111;
    width: 100px;
    padding: 20px 10px;
    animation: .5s fadeInRight;
}

.fixed-nav-on-scroll .row{
    /*width: 0%;*/
}
.fixed-nav-on-scroll .logo-fixed-scroll{
    width: 50%;
    display: inline-block;
    float: left;
}
.fixed-nav-on-scroll .logo-fixed-scroll img{
    width: 100%;
    margin: auto;
    display: inline-block;
}

.fixed-nav-on-scroll .fixed-icon-scroll {
    display: inline-block;
    width: 30%;
    float: right;
    margin-left: 10%;
}
.fixed-nav-on-scroll .fixed-icon-scroll i{
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    display: flex;
}

.fixed-nav-appear{
    display: block;
}

/*.fixed-nav-on-scroll .box-content img{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/


/* ===================================
   Other Page
====================================== */


.page-title-clients{
    position:relative;
    text-align:center;
    background:url("../img/clients/cover.jpg");
    background-size: cover;
    background-position: top center;
    height: 100vh;
}

.page-title-blog{
    position:relative;
    text-align:center;
    background:url("../img/blog/cover.jpg");
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/blog/cover.jpg) center center; */
    background-size: cover;
    background-position: top center;
    height: 100vh;
}


.standalone-content-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#standalone-svg{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    transform: rotateY(-180deg);
    z-index: 1;
    height: 150px;
}

.page-title .auto-container{
    position:relative;
}
.page-title-clients .auto-container{
    position:relative;
}

.page-title-blog .auto-container{
    position:relative;
}
.page-title-product .auto-container{
    position:relative;
}

.page-title h2{
    position:relative;
    color:#202020;
    font-weight:600;
    line-height:1.2em;
    margin-bottom: 10px;
    font-size:4rem;
    text-transform:capitalize;
}

.page-title-clients h2{
    position:relative;
    color:#202020;
    font-weight:600;
    line-height:1.2em;
    margin-bottom: 10px;
    font-size:4rem;
    text-transform:capitalize;
}
.page-title-blog h2{
    position:relative;
    color:#202020;
    font-weight:600;
    line-height:1.2em;
    margin-bottom: 10px;
    font-size:4rem;
    text-transform:capitalize;
}
.page-title-product h2{
    position:relative;
    color:#ffffff;
    font-weight:600;
    line-height:1.2em;
    margin-bottom: 10px;
    font-size:4rem;
    text-transform:capitalize;
}

.page-breadcrumb{
    position:relative;
}

.page-breadcrumb li{
    position:relative;
    display:inline-block;
    margin-right:10px;
    padding-right:15px;
    color:#202020;
    font-size:14px;
    font-weight:400;
    text-transform:capitalize;
}

.page-breadcrumb li:after{
    position:absolute;
    content: "\f101";
    right:-5px;
    top:1px;
    color:#202020;
    font-size:14px;
    font-weight:900;
    font-family: "Font Awesome 5 Free";
}

.page-breadcrumb li:last-child::after{
    display: none;
}

.page-breadcrumb li:last-child{
    padding-right:0px;
    margin-right:0px;
}


.page-breadcrumb li a{
    color:#202020;
    font-weight:400;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    font-size: 17px;
}

.page-breadcrumb li a .icon{
    margin-right:4px;
    color:#202020;
}

.page-breadcrumb li a:hover{
    color:#ffffff;
}

/* ===================================
        Blog sec css
====================================== */
.blog-sec{
    padding-top: 120px;
}
.blog-sec .left-overlay{
    background-color: #39d47a;
    top:120px;
}

.blog-sec .blog-area{
    padding-top: 50px;
    padding-bottom: 50px;
}
.blog-sec .blog-inner-overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 34%;
    background-color: #39d47a;
}

.blog-sec .blog-area .blog-detail .heading{
    margin-bottom: 40px;
}
.blog-sec .blog-area .blog-detail .white-trans-btn{
    margin-top: 10px;
}

.heading {
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 50px;
}
.text {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.anim-btn {
    border: 1px solid #FFFFFF;
    border-radius: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 13px;
    padding: 10px 30px 10px 30px;
    transition: .8s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.left-overlay {
    position: absolute;
    left: 0;
    right: 60%;
    top: 0;
    bottom: 0;
}
/* ===================================
        Preloader
====================================== */

.loader {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 11111111;
    background: #FFFFFF;
}

.spinner {
    margin: 100px auto;
    width: 100px;
    height: 100px;
    position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
    width: 16px;
    height: 16px;
    border: 5px solid #dbd527;
    background-color: #fff;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}


.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}



.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}


@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.4) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.25);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}





/* ===================================
    Media Queries
   ====================================== */


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 768px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}



@media (min-width: 991px) and (max-width: 1069px) {
    .sidemenu_btn{
        display: none;
    }
}


@media screen and (max-width:767px){

    section{
        padding: 4.5rem 0;
    }
    .home-banner{
        padding: 7rem 0 4.5rem;
    }
    .sidemenu_btn{
        position: relative;
        right: 0;
        margin: 0;
    }
    .parallax-box {
        padding: 1.5rem 0;
    }
    .parallax-box i {
        font-size: 2.2rem;
    }
    .parallax-box h2 {
        font-size: 2.2rem;
    }
    .parallax-box h5 {
        font-size: 1rem;
    }

    .partners-slider {
        margin:0;
    }

    .slider-right {
        float: none;
        margin-top: 5rem;
    }

    .heading-box h2 {
        font-size: 2.3rem;
        line-height: 1.1;
    }
    .heading-area{
        margin-bottom: 3rem;
    }
    .heading-area .title {
        font-size: 2rem;
    }
    #blog .heading-area {
        margin: 0;
        padding: 4.5rem 0;
    }
    .address-item{
        margin: 3rem 0;
    }
    .footer-social{
        margin-bottom: 1rem;
    }
    .side-menu {
        width: 380px;
    }


}

@media screen and (max-width:991px){

    .blog-sec .blog-inner-overlay{
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right:-21%;
        background-color: #39d47a;
    }
}
@media screen and (max-width:991px){

    body{
        text-align: center;
    }

    .home-banner{
        padding: 10rem 0 7.5rem;
    }
    .sidemenu_btn{
        position: relative;
        right: 0;
        margin: 0;
    }

    .slider-right {
        float: none;
        margin-top: 6rem;
    }

    .heading-box h2 {
        font-size: 3.5rem;
        line-height: 1.1;
    }

    .heading-area{
        margin-bottom: 3rem;
    }

    .heading-area .title {
        font-size: 2.5rem;
    }

    .services-skill{
        margin-bottom: 2rem;
    }

    .team-item{
        margin-top: 4rem;
    }

    .about-list li{
        display: inline-block;
    }

    .testimonial-post{
        display: inline-block;
    }

    .testimonial-post .post{
        display: inline-block;
    }

    #blog .col-lg-4:not(:nth-last-child(1)) .news-item{
        margin-bottom: 3rem;
    }

    #blog .heading-area {
        margin: 0;
        padding: 7.5rem 0;
    }
    .address-item{
        margin: 3rem 0;
    }
    .footer-social{
        margin-bottom: 1rem;
    }
    .blog-comment{
        margin-bottom: 4rem;
    }
    .page-title h2{
        font-size: 2.5rem;
    }
    .page-title-clients h2{
        font-size: 2.5rem;
    }
    .page-title-blog h2{
        font-size: 2.5rem;
    }
    .page-title-product h2{
        font-size: 2.5rem;
    }
    .blog-post-navigation{
        padding: 4rem 0;
    }

    /* STANDALONE */
    .standalone-detail {
        padding-bottom: 70px;
    }

    .standalone-area .gradient-text1{
        font-size: 30px;
    }

    .standalone-detail .heading{
        font-size: 30px;
    }

    .standalone-area .sub-heading {
        margin-top: 3rem;
    }

    .standalone-row .stand-img-des {
        padding-left: 0;
        padding-right: 0;
    }

    .standalone-row:nth-child(2) .stand-img-des {
        padding-left: 0;
        padding-right: 0;
    }

    .standalone-row:nth-child(2){
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}
@media screen and (min-width:812px) and (max-width:991px){
    .banner{
        height: 700px;
    }
}
@media screen and (min-width:768px)and (max-width:811px){
    .sidemenu_btn i {
        font-size: 50px;
        color: #202020;
    }

}
@media screen and (min-width:812px)and (max-width:991px){
    .sidemenu_btn i {
        font-size: 40px;
        color: #202020;
    }

}
@media screen and (max-width:991px){

    .side-menu .btn-close {
        top: 38px;
        right: 40px;
    }
    .side-nav .navbar-nav .nav-item {
        display: block;
    }
    .side-nav .navbar-nav{
        margin-bottom: 50px;
    }
    /*toggle btn*/
    .sidemenu_btn {
        position: absolute;
        right: 150px;
        top: 90px;
    }
    /*side menu*/
    #site-mmenu-svg {
        bottom: 0;
        height: 100px;
    }
    .side-menu .side-nav {
        margin-bottom: 0;
    }
    /*banner*/
    /* .banner{
        position: relative;
    } */
    .banner .banner-row {
        height: 160vh;
        padding-top: 200px;
        width: 60%;
        margin: 0 auto;
    }
    .banner-text-right {
        padding-bottom: 50px;
        margin-right: 0;
        transform: translateY(-70px);
    }

    /*ABOUT SEC*/
    #about-header-svg {
        height: 100px;
        top: -100px;
    }

    .about-sec {
        padding-top: 50px;
    }
    .about-sec .services-area .services:nth-child(3), .about-sec .services-area .services:nth-child(4) {
        transform: translateX(0px);
    }
    .about-sec .services-area .services:last-child .service-card, .about-sec .services-area .services:nth-child(3) .service-card {
        margin-bottom: 80px;
    }
    .service-details {
        transform: translateY(0px);
        margin-bottom: 80px;
    }
    .blog-detail{
        margin-bottom: 80px;
    }
    .service-details h1 {
        font-size: 60px;
    }

    .service-details p {
        width: 100%;
    }
    #banner_svg {
        bottom: -1px;
        height: 100px;
    }
    .about-sec img {
        left: 150px;
        bottom: -179px;
        width: 50%;
    }

    /*Skill Section Css*/
    .skill-sec .skill-details .title {
        font-size: 60px;
    }
    .skill-sec .skill-bars .progress-item:nth-child(even) {
        padding-left: 0;
    }
    .skill-sec .skill-bars .progress-item {
        padding-right: 0;
    }
    .skill-sec .skill-bars .progress-item {
        width: 100%;
    }

    /*Team section css*/
    #team-header-svg {
        top: -1px;
        height: 160px;
    }
    .team-section {
        padding-top: 180px;
    }
    .team-section .team-details .title {
        font-size: 45px;
    }
    .team-section .circle {
        display: none;
    }
    .testimonial-team .owl-item.center .item {
        margin-top: 0;
    }
    .testimonial-team .owl-item.center ~ .owl-item .item {
        margin-top:0;
    }
    #team-foot-svg {
        bottom: -1px;
        height: 150px;
    }

    /*Portfolio section css*/
    .portfolio-sec .heading {
        font-size: 60px;
    }
    .portfolio-sec #js-loadMore-lightbox-gallery.active {
        margin-top: 30px;
    }


    /*Testimonial section css*/
    .testimonial-sec {
        padding-top: 200px;
        padding-bottom: 150px;
    }
    #testimonial-header-svg {
        top: -1px;
        height: 150px;
    }
    .testimonial-sec .testimonial-title .heading {
        font-size: 45px;
    }
    #testimonial-foot-svg {
        bottom: -1px;
        height: 100px;
    }
    /*sponsers section css*/


    /*Blog section Css*/
    #blog-header-svg {
        top: -1px;
        height: 100px;
    }
    .lastest-blog .blog-content h1 {
        font-size: 60px;
    }
    .lastest-blog .blog-content h1 span {
        font-size: 60px;
    }
    .lastest-blog .blog-img {
        width: 100%;
    }
    .lastest-blog .pot-2 {
        position: absolute;
        z-index: 1111;
        left: 322px;
        bottom: 20px;
        width: 19%;
    }
    #blog-foot-svg {
        position: absolute;
        bottom: -1px;
        height: 150px;
    }
    .lastest-blog .circle {
        display: none;
    }
    .contact-sec .contact-form {
        width: 100%;
        margin-left: 0;
    }
    .contact-sec .contact-details {
        width: 100%;
        margin-left: 0;
        margin-top: 80px;
    }
    .contact-sec .contact-details ul li:first-child {
        width: 100%;
    }
    .contact-sec .contact-details ul li {
        display: block;
        margin-bottom: 30px;
    }
    .contact-sec .contact-details ul li i{
        margin-right: 0;
        margin-bottom: 15px;
        display: block;
    }
}
/*Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width:855px){
    .sidemenu_btn {
        right: 90px;
    }
}
/*@media (max-width: 575.98px) {*/
@media (max-width: 767px) {
    /*toggle btn*/
    .sidemenu_btn {
        position: absolute;
        right: 130px;
        top: 92px;
    }
    .sidemenu_btn i {
        font-size: 30px;
        color: #202020;
    }
    /*side menu*/
    #site-mmenu-svg {
        bottom: 0;
        height: 100px;
    }
    .side-menu .side-nav {
        margin-bottom: 0;
    }
    /*banner*/
    .banner{
        position: relative;
    }
    .banner .banner-row {
        /*height: 110vh;*/
        /*padding-top: 200px;*/
        width: 80%;
    }
    .banner-text-right {
        padding-bottom: 50px;
        margin-right: 0;
        transform: translateY(-70px);
    }

    /*ABOUT SEC*/
    #about-header-svg {
        height: 100px;
        top: -99px;
    }

    .about-sec {
        padding-top: 50px;
    }
    .about-sec .services-area .services:nth-child(3), .about-sec .services-area .services:nth-child(4) {
        transform: translateX(0px);
    }
    .about-sec .services-area .services:nth-child(3) .service-card {
        margin-bottom: 80px;
    }
    .service-details {
        transform: translateY(0px);
        margin-bottom: 80px;
    }
    .blog-detail{
        margin-bottom: 80px;
    }
    .service-details h1 {
        font-size: 45px;
    }

    .service-details p {
        width: 100%;
    }
    #banner_svg {
        bottom: -1px;
        height: 100px;
    }
    .about-sec img {
        left: 100px;
        bottom: -91px;
        width: 60%;
    }

    /*Skill Section Css*/
    .skill-sec .skill-details .title {
        font-size: 45px;
    }
    .skill-sec .skill-bars .progress-item:nth-child(even) {
        padding-left: 0;
    }
    .skill-sec .skill-bars .progress-item {
        padding-right: 0;
    }
    .skill-sec .skill-bars .progress-item {
        width: 100%;
    }

    /*Team section css*/
    #team-header-svg {
        top: -2px;
        height: 100px;
    }
    .team-section {
        padding-top: 150px;
    }
    .team-section .team-details .title {
        font-size: 45px;
    }
    .team-section .circle {
        display: none;
    }
    .testimonial-team .owl-item.center .item {
        margin-top: 0;
    }
    .testimonial-team .owl-item.center ~ .owl-item .item {
        margin-top:0;
    }
    #team-foot-svg {
        bottom: -1px;
        height: 100px;
    }

    /*Portfolio section css*/
    .portfolio-sec .heading {
        font-size: 45px;
    }
    .portfolio-sec #js-loadMore-lightbox-gallery.active {
        margin-top: 30px;
    }
    .blue-and-black-btn {
        padding: 7px 30px;
    }

    /*Testimonial section css*/
    #testimonial-header-svg {
        top: -1px;
        height: 100px;
    }
    .testimonial-sec .testimonial-title .heading {
        font-size: 45px;
    }
    #testimonial-foot-svg {
        bottom: -2px;
        height: 100px;
    }
    /*sponsers section css*/

    .brand-sec .partners-slider .owl-item:nth-child(2) .logo-item{
        margin-top: 0px;
    }

    .brand-sec .partners-slider .owl-item:nth-child(3) .logo-item{
        margin-top: 0px;
    }

    .brand-sec .partners-slider .owl-item:nth-child(4) .logo-item{
        margin-top: 0px;
    }

    /*Blog section Css*/
    #blog-header-svg {
        top: -1px;
        height: 100px;
    }
    .lastest-blog .blog-content h1 {
        font-size: 45px;
    }
    .lastest-blog .blog-content h1 span {
        font-size: 45px;
    }
    .lastest-blog .blog-img {
        width: 100%;
    }
    #blog-foot-svg {
        position: absolute;
        bottom: -1px;
        height: 100px;
    }
    .contact-sec .contact-form {
        width: 100%;
        margin-left: 0;
    }
    .contact-sec .contact-details {
        width: 100%;
        margin-left: 0;
        margin-top: 80px;
    }
    .contact-sec .contact-details ul li:first-child {
        width: 100%;
    }
    .contact-sec .contact-details ul li {
        display: block;
        margin-bottom: 30px;
    }
    .contact-sec .contact-details ul li i{
        margin-right: 0;
        margin-bottom: 15px;
        display: block;
    }

    /*standalone svg*/
    #standalone-svg{
        height:100px;
    }
}

@media (max-width: 622.98px) {
    .sidemenu_btn {
        right: 80px;
    }
}

@media (max-width: 575.98px) {

    .side-menu {
        width: 100%;
    }

    .sidemenu_btn {
        right: 27px;
    }
    .banner .banner-row {
        height: 110vh;
        padding-top: 200px;
        width: 100%;
    }

    .navbar .navbar-brand img {
        max-width: 50px;
    }

    .sidemenu_btn {
        right: 27px;
        top: 96px;
    }

    .lastest-blog .pot-2 {
        left: 100px;
        bottom: 0px;
        width: 40%;
    }

    .contact-social-icons .upper-social-icons li a {
        height: 30px;
        width: 30px;
    }

    .side-menu {
        width: 100%;
    }

    .side-menu .inner-wrapper {
        padding-top: 0;
    }

    .side-menu .navbar-brand img {
        width: auto;
        
    }

    .side-nav .navbar-nav .nav-link {
        font-size: 1.3rem;
    }

}
@media (max-width: 360.98px) {
    .banner .banner-row {
        height: 140vh;
        padding-top: 200px;
        width: 100%;
    }

    .side-menu .inner-wrapper {
        padding: 0 5rem;
    }
    .side-menu .navbar-brand {
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .side-nav .navbar-nav {
        margin-bottom: 45px;
    }
}

@media (max-width: 400px) {

}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    .sidemenu_btn {
        top: 105px !important;
    }
}


@media (max-width: 320px) {

    .contact-social-icons .upper-social-icons li a {
        height: 15px;
        width: 15px;
    }
    .upper-nav .contact-info {
        font-size: 13px;
    }

    .sidemenu_btn {
        top: 87px;
    }
}



@media (min-width: 1200px) and (max-width: 1599px) {

    /*custom classes*/
    .btn.btn-large {
        font-size: 14px;
        padding: 7px 30px;
        line-height: 1.8em;
    }
    /*Banner SECTION*/
    #banner_svg{
        height: 100px;
    }

    .banner-text-right {
        padding: 30px 20px;
    }

    .banner-text-left h1 {
        font-size: 50px;
    }

    .banner-right-area-content h2 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .banner-text-left p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    /* About Section */

    #about-header-svg{
        height: 100px;
        top: -100px;
    }

    .about-sec .services-area .services .service-card .icon-holder i {
        font-size: 110px;
    }

    .about-sec .services-area .services .service-card .card-heading {
        font-size: 25px;
    }

    .about-sec .services-area .services .service-card {
        margin-bottom: 60px;
    }

    .services-area-width-manage{
        width: 80%;
    }

    /* Skill*/
    .skill-sec .skill-details .title {
        font-size: 50px;
    }
    /* Team */
    .team-section .team-details .title {
        font-size: 50px;
    }
    #team-header-svg {
        height: 100px;
    }

    #team-foot-svg{
        height: 100px;
    }
    #team-circle-left {
        left: -3%;
    }

    #team-circle-right {
        right: -3%;
    }

    /*portfolio-sec*/
    .portfolio-sec .heading {
        color: #202020;
        margin-bottom: 0;
        font-size: 50px;
    }

    /*testimional*/
    #testimonial-header-svg{
        height:100px;
    }

    testimonial-foot-svg{
        height: 100px;
    }

    /*Blog */
    .lastest-blog .blog-content h1 {
        font-size: 50px;
    }

    .lastest-blog .blog-content h1 span {
        font-size: 50px;
    }

    .lastest-blog .circle {
        height: 35px;
        width: 35px;
    }

    #blog-circle-left {
        left: -50px;
    }
    #blog-circle-right {
        right: -5px;
    }

}

@media (min-width: 1600px) {
    .sidemenu_btn {
        margin-right: 5rem;
    }
    .banner-text-right {
        margin-right: 80px;
    }
    .banner-row{
        padding-top: 0;
    }
    /* About Section */
    .services-area-width-manage{
        width: 100%;
    }
    /* Team Section */
    #team-circle-left {
        top: 40%;
    }

}

@media screen and (min-width: 1900px){
    .about-sec img {
        left: 410px;
    }
    .lastest-blog .pot-2 {
        left: 500px;
    }
}



